{:kotoba.app/id "cloud.itonami.isic-3011", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidlmtct5ynozm7quxv2oyyag7lighvygve4wcsdoe43wbnldgxgv4", :kotoba.app/embed-url "ipfs://bafkreidlmtct5ynozm7quxv2oyyag7lighvygve4wcsdoe43wbnldgxgv4", :published {:archive "https://kotobase.net/ipfs/bafkreidlmtct5ynozm7quxv2oyyag7lighvygve4wcsdoe43wbnldgxgv4", :size 72355, :put-status 201, :get-status 200, :at "2026-08-15T13:52:37.406Z"}}
